@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 200px;
  width: 200px;
  pointer-events: none;
}

.App-header {
  padding-top: 30px;
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}

.App-header h1 {
  position: relative;
  top: 10px;
  left: 10px;
}

.App-link {
  color: #61dafb;
}

h1 {
  padding-bottom: 30px;
}

.container {
  padding-top: 20px;
  position: absolute;
  margin: 0px;
  width: 170px; 
}

.navbar {
  overflow: hidden;
  background-color: #dfbedc;
  padding-right: 40px;
  display: block;
  padding: 9px 18px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: block;
  float: left;
  width: 60px;
  padding: 0;
  margin: 5;
  color: rgb(53, 53, 73);
  text-decoration: none;
}

ul a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: bolder;
}

a:link {
  text-decoration: none;

}

a:hover {
  display:block;
  background-color: rgb(103, 148, 207);
  width: 105px;
  text-decoration: none;
}

a:active {
  text-decoration: none;
  color:rgb(53, 53, 73);
}

body {
  background-color: rgb(53, 53, 73);
  font-family: 'Montserrat';
  color: white;
  text-align: center;
  background-position: center;
  background-size: cover;
}

footer {
  font-family: 'Montserrat';
  font-style: italic;
}
